.signin__section {
    gap: 50px;
  }
  .already__signin {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .redirection__sign {
    display: flex;
    gap: 15px;
    align-items: baseline;
  }
  